<%= form_for(@booksinlist) do |f| %>
  <% if @booksinlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booksinlist.errors.count, "error") %> prohibited this booksinlist from being saved:</h2>

      <ul>
      <% @booksinlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :booklist_id %><br>
    <%= f.number_field :booklist_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
