<p id="notice"><%= notice %></p>

<h1>书籍列表</h1>

<% @booksinthelist.each do |bookinlist| %>
  <div class="panel panel-primary" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
    <div class="panel-heading">
      <h3 class="panel-title">书籍列表</h3>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width=200 height=200>
      </div>
      <div class="col-md-3">
        <p class="text-info"><%= bookinlist.book_name %></p>
        <p class="text-primary">书籍类型：<%= bookinlist.book_type %></p>
        <p class="text-success">作者：<%= bookinlist.author %></p>
        <p class="text-warning">字数：<%= bookinlist.words_num.to_s %></p>
        <p class="text-danger">最后更新时间：<%= bookinlist.updated_at.to_s %></p>
        
      </div>
      <div class="col-md-6">
        <p>书籍介绍：<%= bookinlist.bookintro %></p>
      </div>
    </div>
  </div>
<% end %>

