<p id="notice"><%= notice %></p>

<h1>Listing Bookselves</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookselves.each do |bookself| %>
      <tr>
        <td><%= bookself.user_id %></td>
        <td><%= bookself.book_id %></td>
        <td><%= link_to 'Show', bookself %></td>
        <td><%= link_to 'Edit', edit_bookself_path(bookself) %></td>
        <td><%= link_to 'Destroy', bookself, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookself', new_bookself_path %>
