<p id="notice"><%= notice %></p>

<h1>Listing Booklists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Bl type</th>
      <th>Intro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booklists.each do |booklist| %>
      <tr>
        <td><%= booklist.user_id %></td>
        <td><%= booklist.title %></td>
        <td><%= booklist.bl_type %></td>
        <td><%= booklist.intro %></td>
        <td><%= link_to 'Show', booklist %></td>
        <td><%= link_to 'Edit', edit_booklist_path(booklist) %></td>
        <td><%= link_to 'Destroy', booklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booklist', new_booklist_path %>
