<% content_for :search do %>
    <%= search_form_for @q, url: booklistsearch_index_path, html: { class: "navbar-form navbar-right" } do |f| %>
      <div class="form-group">
        <%= f.search_field :title_cont, class: "form-control", placeholder: "输入书单名称" %>
        <%= f.submit :class => 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
<% end %>

<div class="row-fluid">
    <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked" id="booktypenav">
            <li class="active"><a href="#">Home</a></li>
            <li class="style1"><%= link_to "玄幻奇幻", "/path1"  %></li>
            <li class="style1"><%= link_to "现代都市", "/path1"  %></li>
            <li class="style1"><%= link_to "历史军事", "/path1"  %></li>
            <li class="style1"><%= link_to "游戏竞技", "/path1"  %></li>
            <li class="style1"><%= link_to "科幻灵异", "/path1"  %></li>
            <li class="style1"><%= link_to "同人短篇", "/path1"  %></li>
            <li class="style1"><%= link_to "文学名著", "/path1"  %></li>
        </ul>
    </div>

    <div class="col-lg-10">
        <div class="panel panel-primary">
           <div class="panel-heading">
              <h3 class="panel-title">热门书单</h3>
           </div>
           <div class="panel-body">
                <table class="table">
                    <th>书单标题</th><th>书单类型</th><th>书单简介</th>
                    <% @booklists.each do |booklist| %>
                        <tr>
                            <td><%= link_to booklist.title, booksinlists_path(id: booklist.id) %></td>
                            <td><%= booklist.bl_type %></td>
                            <td><%= booklist.intro %></td>
                            <td><% if user_signed_in? %>
                                    <%if Focusbooklist.exists?(user_id: @currentuser.id, booklist_id: booklist.id) %>
                                        <%= button_to "已关注",  { action: "postbook", booklistid: booklist.id, userid: @currentuser.id }, :id => booklist.id.to_s, :class => 'btn btn-xs btn-success', remote: true, form: { "data-type" => "javascript" }, :data => { :disable_with => '数据更新中', disabled: true } %>
                                    <% else %>
                                        <%= button_to "未关注",  { action: "postbook", booklistid: booklist.id, userid: @currentuser.id }, :id => booklist.id.to_s, :class => 'btn btn-xs btn-primary', remote: true, form: { "data-type" => "javascript" }, :data => { :disable_with => '数据更新中' } %>
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
           </div>
        </div>
    </div>
</div>


