<p id="notice"><%= notice %></p>

<h1>Listing Focusbooklists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Booklist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @focusbooklists.each do |focusbooklist| %>
      <tr>
        <td><%= focusbooklist.user_id %></td>
        <td><%= focusbooklist.booklist_id %></td>
        <td><%= link_to 'Show', focusbooklist %></td>
        <td><%= link_to 'Edit', edit_focusbooklist_path(focusbooklist) %></td>
        <td><%= link_to 'Destroy', focusbooklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Focusbooklist', new_focusbooklist_path %>
